/* ==============タイトルの文字サイズ============================== */
.works-heading {
  font-size: 40px;
}
/* ============================================ */

/* ===============リストの並び替え============================= */
.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
/* ============================================ */

/* ==============リストの中身============================== */
.works-item img {
  width: 500px;
}

.works-item h3 {
  font-size: 20px;
  margin: 20px 0;
}
/* ============================================ */
